
.svg-btn {
    border: none;
    background-color: transparent;
}

.add-row {
    display: flex;
    align-items: center;
}

.add-row-input {
    border: none;
    outline: none;
    flex: 1;
}

.add-row-input-content {
    border: none;
    outline: none;
    flex: 5;
}

.add-row-input-date {
    flex: 1;
}

/* full screen height */
/* .col {
    height: 100vh;
} */
